@model IEnumerable<CoreHotel.Models.ServicioFacturaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
        <tr>
        
            <td>Factura No.</td>
            <td>Servicio No.</td>
        
        </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Id_Factura
            </td>
            <td>
                @item.Id_servicio
            </td>
        </tr>
}
    </tbody>
</table>
