@model IEnumerable<CoreHotel.Models.PaisModel>

@{
    ViewData["Title"] = "Index";
}
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="includes/js/jquery-latest.min.js"></script>
<script src="~/js/Pais.js"></script>

<h1>Index</h1>



<p>
    <button onclick="Load()">Load Data</button>
    <a asp-controller="PaisModels" asp-action="Create"><button>Add New</button></a>
</p>
<table id="table" class="table">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

